<h1 id="title" align="center">Brew & Chew Homepage</h1>
<div align="center" class="container">
	<%= link_to "See Menu" , foods_path, class: "btn btn-primary btn-lg"%>
	<%= link_to "Add food" , new_food_path, class: "btn btn-primary btn-lg"%>
	</br></br>
	<div></div>
	<div class="cardcontainer">
		<div class="card" style="width:400px">
    		<img class="card-img-top" src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600114/29213224-male-silhouette-avatar-profile-picture.jpg?ver=6" alt="Card image" style="width:100%">
    		<div class="card-body">
      			<h4 class="card-title">John Doe</h4>
      			<p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      			<a href="#" class="btn btn-primary">See Profile</a>
    		</div>
  		</div>
	</div>
</div>
	 




	 